@use '../../styles/modules/colors' as color;

.navlink {
    color: color.$text-color-dark;
    text-transform: uppercase;
    font-family: tahoma;
    font-size: 13px;
    transition: all .2s ease-in;

    &:hover {
        color: color.$text-color-active;
    }

    &_active {
        color: color.$text-color-active;
    }
}