@use '../../styles/modules/colors' as color;

.navlink {
    color: color.$text-color-dark;
    text-transform: uppercase;
    font-family: 'Roboto Regular' sans-serif;
    font-size: 13px;

    &:hover {
        color: color.$text-color-active;
    }

    &_active {
        color: color.$text-color-active;
    }
}