@use '../../styles/modules/colors' as color;

.navlink {
    color: color.$text-color-dark;

    &:hover {
        color: color.$text-color-active;
    }

    &_active {
        color: color.$text-color-active;
    }
}