$text-color-dark: #040404;
$text-color-bright: #808080;
$text-color-active: #f4483b;
$line-color: #6b6b6b;
$card-color: #f4f4f4;
$card-color-link: linear-gradient(90deg, rgba(135, 135, 135, 1) 63%, rgba(255, 255, 255, 1) 100%);