@use '../../../styles/modules/colors' as color;

.MultipleSlider__info {
  display: flex;
  align-items: center;
  gap: 5px;
  color: color.$text-color-dark;
  font-family: 'palatino';
  font-size: 20px;
  font-weight: 400;

  p {
    flex-shrink: 1;
  }

  span {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed color.$text-color-bright;
  }

}

.multiple-slider__wrapper {
  height: 300px;
  width: 100%;
  background-color: #FFFFFF;
  margin-bottom: 40px;

  .slick-slide {
    text-align: center;
  }

  .slick-slide img {
    width: 100%;
    height: 100%;
  }

  .slick-slide .slider-link span {
    display: block;
    margin-top: 35px;
    color: color.$text-color-dark;
    transition: color .3s ease;

    &:hover {
      color: color.$text-color-active;
    }
  }

  .slider-price {
    color: color.$text-color-bright;
  }

  // стрелки
  .slick-arrow::before {
    content: '';
  }

  .slick-next {
    right: 0;
  }

  .slick-prev {
    left: 0;
  }

  .slick-arrow {
    z-index: 10;
    width: 25px;
    height: 25px;
    border: none;
    background-color: #04040445;
    transition: background 0.3s linear;
    cursor: pointer;

    &:hover {
      background-color: #04040485;
    }

    img {
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }




}