/* обёртка */
.slider__wrapper {
  width: 100%;
  height: 500px;
  background-color: #FFFFFF;

  /* слайдер */
  .slick-slider {
    position: relative;
  }

  /* элемент item слайдера */
  .slick__slide {
    position: relative;
    width: 100%;

    img {
      width: 100%;
      max-height: 500px;
      object-fit: cover;
    }

    .slick__slide_link {
      position: absolute;

      display: flex;
      justify-content: center;
      align-items: center;

      width: 100%;
      height: 100%;

      z-index: 10;

      font-size: 50px;
      color: #FFFFFF;
      background-color: #FFFFFF25;

      h2 {
        opacity: 0;

        text-align: center;
        font-size: 40px;
        font-weight: 300;
        font-family: 'Roboto';

        span {
          width: 100%;
          height: 1px;
          background-color: #FFFFFF;
        }

        b {
          flex-shrink: 0;
        }
      }
    }
  }

  /* текущий слайд */
  .slick-current h2 {
    opacity: 1 !important;
    width: 100%;

    display: flex;
    align-items: center;
    gap: 15px;

    border-radius: 2px;
    background-color: #04040455;
    padding: 10px;
    margin: 0 90px;

    animation: text 1s linear;
  }

  /* arrows */
  .slick-arrow {
    position: absolute !important;

    background-color: inherit;

    height: 78px;
    width: 78px;
    transition: all .3s linear;
  }

  &:hover .slick-arrow,
  .slick-arrow button {
    background-color: #04040455;
    border-radius: 2px;
    font-size: 25px;
  }

  .slick-prev {
    top: calc(50% - 2px);
    left: 0px;

    z-index: 20;
  }

  .slick-next {
    top: calc(50% - 2px);
    right: 0px;

    z-index: 20;
  }

  .slick-next button,
  .slick-prev button {
    width: 100%;
    height: 100%;
    border: 0;
    background-color: transparent;
    transition: all .2s linear;
    color: #FFFFFF;
    cursor: pointer;
  }

  .slick-prev button img,
  .slick-next button img {
    margin-top: 5px;
    width: 100%;
    object-fit: contain;
  }


  .slick-next:before,
  .slick-prev:before {
    content: '';
  }


  

  

  /* точки внизу */
  .slick-dots {
    bottom: 5px;
  }

  .slick-dots li button::before {
    font-size: 15px;
    color: #FFFFFF;
  }

  .slick-dots li.slick-active button:before {
    color: #FFFFFF;
  }

  /* анимация для текста */
  @keyframes text {
    0% {
      opacity: 0;
      transform: translateY(150px);
    }

    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
}