.slider__wrapper {
  width: 100%;
  height: 400px;
  background-color: #FFFFFF;

  

}

.slick__slide {
  position: relative;

  width: 100%;

  img {
    width: 100%;
  }
}


.slick__slide_link {
  position: absolute;



  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 100%;

  z-index: 10;

  font-size: 50px;
  color: #FFFFFF;
  background-color: #FFFFFF25;

  h2 {
    width: 100%;

    display: flex;
    align-items: center;
    gap: 15px;

    border-radius: 2px;
    background-color: #04040455;
    padding: 10px;
    margin: 0 90px;

    text-align: center;
    font-size: 50px;
    font-weight: 300;
    font-family: 'Roboto';

    span {
      width: 100%;
      height: 2px;
      background-color: #FFFFFF;
    }


  }

  

}


.slick-arrow {
  background-color: #04040455;
  color: black;

  &:active {
    h2 {
      animation: title_animation 1s;
    }
  }
}

@keyframes title_animation {
  0% {
    opacity: 0;
    transform: translateY(100px);
  }

  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}