.header {
    display: flex;
    flex-direction: column;
    border: 1px solid #000;
}

.nav {
    display: flex;
    flex-direction: column;
    align-items: center;

    &__link {
        text-transform: uppercase;
        font-size: 45px;
    }
}