@use '../../styles/modules/colors' as color;

.header {
    display: flex;
    flex-direction: column;

    padding: 28px 0 15px;
    margin-bottom: 28px;

    border-bottom: 1px dotted color.$text-color-bright;
}

.nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px; 

    &__link {
        text-transform: uppercase;
        font-size: 45px;
        color: color.$text-color-dark;
    }

    &__list {
        display: flex;
        justify-content: space-around;
        align-items: center;

        width: 100%;
    }
}