@use '../../styles/modules/colors' as color;

.footer {
    border-top: 2px solid color.$text-color-active;
    padding-top: 30px;
    width: 100%;

    &__list {
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: space-between;

        margin-bottom: 30px;
    }

    &__item {
        width: 16.6%;
        padding: 0 10px;
        min-height: 150px;
        border-right: 1px dotted color.$text-color-dark;

        &:last-of-type {
            border-right: none;
        }

        &:nth-child(2) {
            a {
                display: block;
                color: color.$text-color-dark;
                margin-bottom: 7px;
            }
        }


    }

    &__title {
        text-transform: uppercase;
        font-family: 'palationo';
        font-size: 16px;
        font-weight: 400;

        margin-bottom: 30px;
    }

    &__search {
        display: block;
        width: 100%;
        box-sizing: border-box;
        color: color.$text-color-bright;

        &:focus {
            outline: 0;
        }
    }

    &__text {}

    &__link::before {
        content: '> ';
    }
}

.social__list {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 10px;
}