@import './vendor/normalize.scss';
@import './vendor/fonts/font.css';
@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";


* {
  box-sizing: border-box;
}

body {
  font-family: 'palatino', 'Roboto', 'tahoma', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  min-height: 100vh;
  margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  list-style-type: none;
}

ul,
li {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}